*{
    box-sizing:border-box;
    margin:0px;
}


.DaysHolder {
    display: flex;
    flex-wrap: nowrap;
}
.daysA {
    font-size: 18px;
    text-decoration: none;
    width: 100% !important;
    color: black;
    display: flex;
    justify-content: center;
  
   
}
    .daysA.mon {
        font-size: 14px;
        color: #9e9e9e
    }
.days {
    padding:10px 0px 10px 0px;
    width: 12.5%;
  
}
    .days:hover {
        background: rgb(242,240,240);
        background: radial-gradient(circle, rgba(242,240,240,1) 0%, rgba(232,230,230,1) 100%);
    }

.linee {
    width: 100%;
    border-bottom: 1px solid #e8e6e6;
}

#monthDate {
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-weight:bold;
}
#monthImg{
margin-top:-5px;
}

#disFlex2id{
    margin-left:0px!important;
}


