*{
    box-sizing:border-box;
    margin:0px;
}


.disFlex1 {
    display: flex;
    margin-top: 40px;

    margin-bottom: 18px;
    width: 150px;
}
#today {
    font-size: 22px;
    font-weight:bold;
    margin-right:5px;
    color:black;
}
#dateToday {
    margin-top: 8px;
    color: #9e9e9e;
    font-size: 13px;
}

.disFlex2 {

     display: flex;

    cursor: pointer;
    width: 105px;
    margin-top:10px;
}

#plus {
    font-size: 20px;
    width: 15px;
    height: 15px;
    text-align: center;
    padding-bottom: 20px;
    color: #026df0;
    font-weight: bold;
    margin-right:10px;
}
.plusC {
    background-color: #026df0;
    border-radius:50%;
    color:white!important;
}
.taskC {
    color: #026df0!important;
}

#task {
    color: #9e9e9e;
    font-size:17px;
}

.boxInput {
   
    display:none;


}
#inputT {
    width: 70%;
    min-width:400px;
    min-height: 130px;

    border-radius: 5px;
    border: 0.5px solid #bdbdbd;
    font-size:16px;
}
   

#btn1 {
    background-color: #026df0;
    border-radius: 5px;
    border: 0.3px solid #dbdbdb;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    color:white;
}
#btn2 {
    background-color: white;
    border-radius: 5px;
    border: 0.3px solid #dbdbdb;
    font-size: 15px;
 padding:5px 10px 5px 10px;
 cursor:pointer;
}
    #btn2:hover {
        background-color: #e8e8e8;
    }
.line {
    border-bottom: 1px solid #edebeb;
    padding-bottom: 20px;
   margin-bottom:20px;
    width: 100%;
}

.taskEach{
    width:100%;
}
.clickk{
    width:30px;
    height:30px;
    
}

.clickDel {
 width:15px;
height:auto;
cursor:pointer;
}


.CloseButtonColor {
    fill: white;
    cursor:pointer;
}

.markk {
    fill: white;
    cursor:pointer;
}

.lineFlex{
    width:100%;
    display:flex;
}

.come {
    margin-left: 15%;
    margin-top: 40px;
    margin-right: 15%;
}