@model DateTime
@using ToDoList.Models
 
@{
}
<div class="addParent">
<div class="disFlex2" id="disFlex2id"><div id="plus">+</div><div id="task">Add task</div></div> 

<div class="boxInput">
 
  <form  method="post" action="/List/SaveTask">
      
      
        <input type="hidden" name="Create" value="@Model" />
        <input type="hidden" name="ActionName" value="@this.Context.Request.RouteValues["Action"]" />
    
        

    <textarea wrap="soft" id="inputT" type="text" name="Taskk"></textarea>  
     <div class="buttons"> 
    <button type="submit" id="btn1"> Add task</button>
    <button id="btn2"> Cancel</button>
 
    </div>
    </form>
 

</div>
</div>
 