@{
    ViewData["Title"] = "index";
    Layout = "_Layout";


}
@section CssAndScript {

    <link href="~/css/index.css" rel="stylesheet" />
}


    <div id="text">Plan your day with</div>
    <div id="text2">ToDoList</div>

    <div class="boxStart"> <a id="clickStart" asp-controller="user" asp-action="ShowRegistration">Start</a></div>
